

/* SCSS RGB */
white: rgba(255, 255, 255, 1);
linen: rgba(245, 237, 224, 1);
pale-silver: rgba(206, 193, 182, 1);
$gray-web: rgba(132, 133, 134, 1);
$jet: rgba(51, 51, 51, 1);

.banner-img {
    background-image: url("img/stars.jpg");
    background-size: 100%;
    background-position-y: 80%;
    display: flex;
    height: 30%;
}
.pageContent {
    display: flex;
    flex-flow: column;
    padding: 5%;
}
#classImg {
    width: 30%;
    height: auto;
    padding: 2%;
}
.styledLink {
    background-color: rgba(0, 0, 255, 0.699);
    padding: 5px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.uploadedTable {
    width: 100%;
    
}
.uploadedTable th {
    padding-right: 1%;
}

.file button {
    background: none;
    border: none;
}
.delete{
    background: none;
    border: none;
}
.fa-edit{
    color:darkgreen;
    height:auto;
    width:100%;
    font-size: x-large;
}
.fa-trash-alt{
    color:darkred;
    font-size: x-large;
}

label,
button,
select {
    font-size: 150%;
}

html,
body {
    background-color: #fff;
    color: #636b6f;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}
.full-height {
    height: 100vh;
}
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
.position-ref {
    position: relative;
}
.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}
.content {
    text-align: center;
}

.m-b-md {
    margin-bottom: 30px;
}

.page-content {
    display: flex;
    justify-content: center;
}

.nav-item {
    marker: none;
}

.color {
    background-color: #96d3e4;
}
.container {
    margin: 10%;
}

.banner-img {
    background-image: url("../img/stars.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 55%;
    display: flex;
    height: 30%;
}

.nav-link {
    color: white;
}

#logout-btn {
    text-decoration: underline;
    color: rgba(255,200,200);
}

.nav {
    display: flex;
    background-color: #242836;
    justify-content: space-evenly;
}

.title {
    font-size: 84px;
    width: 100%;
    padding: 2%;
    text-align: center;
}

.createBtnOption {
    justify-items: center;
    width: 100%;
}
.createBtnOption a {
    padding: 5%;
}
@media screen and (min-width: 1024px) {
    .scrollup {
        width: 40px;
        height: 40px;
        position: fixed;
        bottom: 50px;
        right: 100px;
        display: none;
        text-indent: -9999px;
        background-size: 100%;

        background-image: url("../img/backtotop.png");
    }

    .banner-img {
        background-image: url("../img/stars.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-y: 55%;
        display: flex;
        height: 30%;
    }

    .banner-img h1 {
        color: white;
        text-align: center;
        display: flex;
        font-size: 500%;
        margin: auto;
        font-weight: bold;
        padding: 2%;
    }
    .nav-link {
        font-size: 150%;
    }
}
@media screen and (max-width: 1024px) {
    .scrollup {
        width: 40px;
        height: 40px;
        position: fixed;
        bottom: 50px;
        right: 100px;
        display: none;
        text-indent: -9999px;
        background-size: 100%;

        background-image: url("../img/backtotop.png");
    }

    .banner-img {
        background-image: url("../img/stars.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-y: 55%;
        display: flex;
        height: 30%;
    }

    .banner-img h1 {
        color: white;
        text-align: center;
        display: flex;
        font-size: 500%;
        margin: auto;
        font-weight: bold;
        padding: 2%;
    }
    .nav-link {
        font-size: 200%;
    }
}
@media screen and (max-width: 800px) {
    .banner-img {
        background-image: url("../img/stars.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-y: 55%;
        display: flex;
        height: 30%;
    }

    .banner-img h1 {
        color: white;
        text-align: center;
        display: flex;
        font-size: 400%;
        margin: auto;
        font-weight: bold;
        padding: 2%;
    }

    .scrollup {
        width: 40px;
        height: 40px;
        position: fixed;
        bottom: 50px;
        right: 10px;
        display: none;
        text-indent: -9999px;
        background-size: 100%;

        background-image: url("../img/backtotop.png");
    }
    .alterButtons button,
    a {
        background: none !important;
        border: none;
        padding: 0 !important;
        color: black;
        text-decoration: none;
    }
    .title {
        font-size: 60px;
        width: 100%;
        padding: 2%;
        text-align: center;
    }
    .cohortTable{
        margin: auto;
        padding: 10%;
        text-align: center;
        width: 50% !important;
    }
   
}

.cohort {
    margin-left: 10%;
    margin-bottom: 5%;
    margin-right: 10%;
    padding: 10px;
    background-color: rgba(0,0,0,.05);
    border-radius: 3px;
    border: 2px solid rgba(0,0,0,.2);

}

.cohort h1 {
    padding: 5px;
    font-size: 3em;
    font-weight: bold;
    color: black;
}

.cohort-head {
    font-size: 1.5em;
}

.student-name {
    font-size: 2em;
    text-decoration: none;
    color: black;
}

.page-header {
    text-align: center;
    margin-bottom: 50px;

    margin-left: 30%;
    margin-right: 30%;
}

.home p{
    font-size: 1.4em;
}

.home h3 {
    font-size: 2em;
    font-weight: bold;
}

.text-btn {
    padding-top: 10px;
}